/***** CABIN *******/

@font-face {
    font-family: Cabin;
    src: url('../fonts/cabin/Cabin-Regular.otf');
}
@font-face {
    font-family: Cabin;
    src: url('../fonts/cabin/Cabin-SemiBold.otf');
    font-weight: 300;
}
@font-face {
    font-family: Cabin;
    src: url('../fonts/cabin/Cabin-SemiBoldItalic.otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Cabin;
    src: url('../fonts/cabin/Cabin-Bold.otf');
    font-weight: 700;
}
@font-face {
    font-family: Cabin;
    src: url('../fonts/cabin/Cabin-BoldItalic.otf');
    font-weight: 700;
    font-style: italic; 
}
@font-face {
    font-family: Cabin;
    src: url('../fonts/cabin/Cabin-Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: Cabin-Medium;
    src: url('../fonts/cabin/Cabin-Medium.otf');
}
@font-face {
    font-family: Cabin-Medium;
    src: url('../fonts/cabin/Cabin-MediumItalic.otf');
    font-style: italic;
}