/*************** START DOCUMENT *********************/
::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}
body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
header {
    background-image: url(assets/img/header.jpg);
    background-repeat: no-repeat;
    min-height: 220px;
    background-size: 100%;
}
header h1 {
    color: #ffffff;
    margin: auto;
    font-family: 'Cabin-Bold';
    padding-top: 50px;
    text-align: center;
}

footer {
    background: #752223;
    min-height: 40px;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}
.link {
    cursor: pointer;
}
/*************** END DOCUMENT *********************/

/*************** START HOME *********************/
.view-home {
    min-height: 400px;
    max-height: 400px;
    height: 400px;
    overflow: hidden;
}
.view-home .glyphicon {
    color: #85070B;
}
.view-home .card-component.hidecard {
    width: 0px;
}
.view-home .card-component.fadeIn {
    width: 60%;
    float: left;
    -webkit-animation-duration:0.5s;
    animation-duration:0.5s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn;
}
.view-home .card-component.showcard {
    animation-delay: 1s;
    width: 60%;
    float: left;
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn;
}
.view-home .card-component.compact {
    width: 40%;
    float: left;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
.view-home .card-component.full {
    width: 100%;
    float: none;
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn;
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
.view-home .card-component tr.highlight {
    background-color: lightyellow;
} 
/*************** END HOME *********************/
/*************** START HOME *********************/
.view-details {
    margin: 0px;
}
.view-details .card-component .glyphicon {
    color: #85070B;
}
.view-details .card-component {
    margin: 5px;
}
/*************** END HOME *********************/
/*************** START ANIMATIONS *********************/
@-webkit-keyframes fadeIn{
    from{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@keyframes fadeIn{
    from{
        opacity:0
    }
    100%{
        opacity:1
    }
}
.fadeIn{
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn
}
/*************** END ANIMATIONS *********************/

/*************** START COMPONENTS *********************/

/*************** CARD *********************/
.card-component .table-full-width .table tr td a {
    width: 100%;
    display: block;
}
.card-component .content {
    margin-top: 5px;
}
.card-component .content .card-title {
    display: block;
    margin: 0 auto;
    width: 200px;
    float: none !important;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto, Cabin';
}
.card-component .content.fixed-card {
    overflow-y: scroll;
    height: 300px;
    padding-top: 0;
    margin-top: 20px;
    padding-bottom: 0;
}
.card-component .footer {
    padding: 10px;
}
/*************** LANGUAGE *********************/
.language-component.bar-lang-horizontal {
    position: absolute;
    top: 0;
    right: 5%;
    background-color: rgba(255,255,255,0.8);
    width: 100px;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    padding: 8px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.language-component.bar-lang-horizontal button.btn-link {
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
}
.language-component.bar-lang-horizontal button.active.btn.btn-link img {
    -webkit-filter: contrast(50%);
    filter: contrast(50%);
}
/*************** LOADER *********************/
.component-loading {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.component-loading img {
    display: block;
    margin: auto;
}
.component-loading span {
    width: 100%;
    font-family: 'Cabin-Regular';
}
/*************** END COMPONENTS *********************/